<div class="container">
    <div class="row" id="bodyDiv" data-controller="messages" data-action="{{user.role}}" data-currentPage="{{currentPage}}" data-totalPages="{{totalPages}}">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Messages</h2>
                    <h5>View and send messages</h5>
                </div>
            </div>
            <div class="row sendMessage initialHidden">
                <div class="col-md-8">
                    <strong>Send a message to {{receivingUser.displayname}}</strong>
                    <form action="/messages" method="post" id="addJobForm">
                        <input type="text" value="{{query.username}}" class="form-control hidden" id="messageUser" name="messageUser"/>
                        <input type="text" value="{{query.originatingTitle}}" class="form-control hidden" id="originatingTitle" name="originatingTitle" />
                        <input type="text" value="{{query.originatingId}}" class="form-control hidden" id="originatingId" name="originatingId" />
                        <div class="form-group">
                            <label for="messageTitle">Title: </label><br />
                            <input type="text" class="form-control" id="messageTitle" name="messageTitle" />
                        </div>
                        <div class="form-group">
                            <label for="messageContent">Message: </label>
                            <textarea id="messageContent" class="form-control" name="messageContent"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive user-featured-image" src="/uploads/{{receivingUser.profileimg}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">




                    {{#messages user.message_ids}}
                    <div class="panel panel-default" data-originatingtitle="{{originatingTitle}}">
                        <div class="panel-heading">
                            <h4>{{originatingTitle}}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <a href="/userprofile/{{sender_id.username}}"><img class="img-responsive user-featured-image" src="/uploads/{{sender_id.profileimg}}" /></a>

                                </div>
                                <div class="col-md-11">
                                    <div><strong>{{sender_id.displayname}} - {{title}}</strong></div>
                                    <div><pre class="preUserInput">{{content}}</pre></div>

                                    {{#replyUser sender_id.username ../user.username}}
                                        <a href="messages?username={{../recipientUser}}&originatingTitle={{originatingTitle}}&originatingId={{originatingId}}"><div class="btn btn-default btn-reply">Reply</div></a>
                                    {{else}}
                                        <a href="messages?username={{../sender_id.username}}&originatingTitle={{originatingTitle}}&originatingId={{originatingId}}"><div class="btn btn-default btn-reply">Reply</div></a>
                                    {{/replyUser}}

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer {{@index}}" data-originatingtitle="{{originatingTitle}}">View/hide messages in this string...</div>
                    {{else}}
                        <div class="panel-body messageDiv {{@index}}" data-originatingtitle="{{originatingTitle}}">
                            <div class="row">
                                <div class="col-md-1">
                                    <a href="/userprofile/{{sender_id.username}}"><img class="img-responsive user-featured-image" src="/uploads/{{sender_id.profileimg}}" /></a>

                                </div>
                                <div class="col-md-11">
                                    <strong>{{sender_id.displayname}} - {{originatingTitle}}</strong>
                                    <div><pre class="preUserInput">{{content}}</pre></div>
                                </div>
                            </div>
                        </div>

                    {{/messages}}

                    <div class="text-center">
                        <ul class="pagination">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>