<div class="container">
    <div class="row" id="bodyDiv" data-controller="profile" data-action="{{user.role}}">
        <div class="col-md-12">
            <h2>{{userDetails.displayname}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{message}}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Overview</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Description:</h4>
                            <span><pre class="preUserInput">{{{userDetails.description}}}</pre></span>
                        </div>
                        <div class="col-md-4">
                            <a href="/userprofile/{{userDetails.username}}"><img class="img-responsive" src="{{userDetails.profileimg}}" /></a>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/messages?username={{userDetails.username}}"><div class="btn btn-success orgDiv volDiv">Send Message</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>User Images:</h5>
                            {{#if userDetails.image_ids}}
                                <div>
                                    {{#userDetails.image_ids}}
                                        <img class="img-responsive user-images" src="/uploads/{{filename}}"/>
                                    {{/userDetails.image_ids}}
                                </div>
                            {{else}}
                                <div>This user has not yet uploaded any images.</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading activateDiv">
                    <h4>Feedback</h4>
                </div>
                <div class="panel-body initialHidden">
                    {{#if userDetails.feedbackreceived_ids}}
                        <p>Feedback for <strong>{{userDetails.displayname}}</strong></p>
                    {{else}}
                        <p>{{userDetails.displayname}} has not yet received any feedback.</p>
                    {{/if}}

                    <div class="row sendMessage initialHidden">
                        <div class="col-md-8">
                            <form action="/feedback" method="post" id="addJobForm">
                                <input type="text" value="{{userDetails._id}}" class="form-control hidden" id="feedbackid" name="feedbackid"/>
                                <input type="text" value="{{userDetails.username}}" class="form-control hidden" id="feedbackuser" name="feedbackuser"/>
                                <input type="text" value="{{query.originatingTitle}}" class="form-control hidden" id="originatingTitle" name="originatingTitle" />
                                <div class="form-group">
                                    <label for="messageContent">Feedback: </label>
                                    <textarea id="messageContent" class="form-control" name="messageContent"></textarea>
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive user-featured-image" src="{{user.profileimg}}" />
                        </div>
                    </div>


                    {{#userDetails.feedbackreceived_ids}}
                        <div class="row feedbackItem">
                            <div class="col-xs-2 feedbackImgCol">
                                <a href="/userprofile/{{sender_id.username}}"><img class="img-responsive user-featured-image" src="{{sender_id.profileimg}}" /></a>

                            </div>
                            <div class="col-xs-10 feedbackContentCol">
                                <div>
                                    <p>By: <a href="/userprofile/{{sender_id.username}}">{{sender_id.displayname}}</a></p>

                                </div>
                                <div><pre class="preUserInput">{{content}}</pre></div>

                            </div>
                        </div>
                    {{/userDetails.feedbackreceived_ids}}
                    <div class="orgDiv volDiv">
                        <div class="btn btn-default btn-enableFeedback">
                            <p>Leave feedback for {{userDetails.displayname}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

